.clickable {
	cursor: pointer;
}

.hidden {
	display: none;
}

#tables {
	float: left;	
}

#rows, #norows {
	margin: 2%;
	width: 76%;
	border: solid 2px;
	padding: 2%;
	float: left;
	overflow: scroll;
}
