<h1>About Us</h1>
<div>
	<h3>Why we make this web</h3>
	<p>Considering the traffic as a serious threat to the quality of
		life these years, the world has been looking for various solutions
		to decrease the stress, frustration, delays and terrible air
		pollutions being caused through it.</p>
	<h3>We goal</h3>
	<p>provide a smart green solution on this regard by matching up
		drivers who live, work, and finally drive in the same neighborhood
		and would like to provide trip services.</p>
</div>
