<h1>Types of Services</h1>
<p>GQZ Offers two types of travel services.</p>
<div class="service-outer">
	<div id="service-a" class="service floating"
		onclick="location.href='#!/services/a';">
		<h2>Travel</h2>
		<p>Our renowened transport service. We'll take you anywhere within
			50Km. That's enough to get you anywhere in the city.</p>
	</div>
</div>
<br />
<div class="service-outer">
	<div id="service-b" class="service floating"
		onclick="location.href='#!/services/b';">
		<h2>Delivery</h2>
		<p>Our new delivery service will bring the products you want from the
			partnered stores you love.</p>
	</div>
</div>
<br />
<div class="service-outer">
	<div id="service-d" class="service floating"
		onclick="location.href='#!/services/d';">
		<h2>Luxury Travel</h2>
		<p>Get driven by one of are Sport Racing Champions and choose from are
			amazing luxury green energy vehicles!</p>
	</div>
</div>
